.hero-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero {
    width: 85.7%;
    display: flex;
    gap: 9.5rem;

    .hero-details {
      display: flex;
      flex-direction: column;
      width: 64.5rem;
      gap: 4.5rem;

      h1 {
        font-size: 5.6rem;
        line-height: 7.6rem;
        font-weight: 400;

        span {
          color: #a02279;
        }
      }

      .hero-description {
        font-size: 2.4rem;
        line-height: 3.5rem;
      }

      .search {
        display: flex;

        input {
          padding-left: 1rem;
          padding-right: 22rem;
          border: 0.1rem solid #a3a3a3;
          border-radius: 1rem;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          &::placeholder {
            font-family: 'Red Rose';
            color: #b8b8b8;
          }
        }
      }

      .search-button {
        padding: 1.6rem 8.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
