.footer-meta-container {
  height: 32.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 96%;
  bottom: 0;
  margin-top: 6.4rem;
  background-color: black;
  color: #fff;

  .footer-meta {
    width: 85.7%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .footer-meta-item {
      display: flex;
    }

    .social-copyright--container {
      display: flex;
      flex-direction: column;
      gap: 5.7rem;

      .social-container {
        display: flex;
        gap: 1.2rem;

        ion-icon {
          color: #fff;
          font-size: 1.8rem;
        }
      }
    }

    .logo-col {
      flex-direction: column;
      gap: 9.6rem;
    }
    .additional-info-col {
      gap: 21.7rem;
    }

    .community,
    .places,
    .aboutUs {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .heading {
        margin-bottom: 1.1rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.2rem;
      }

      .link-text {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}
